body {
	
	background-image: url("lap.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;


}

.intro {
	font-size: 50px;
	font-family: fantasy;
	font-style: italic;
	color: green;
	text-align: center;
	margin-top: 100px;
	
}

.clicks {
	font-family: fantasy;
	font-size: 20px;
	color: orange;
	background-color: blue;
	 font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  text-align: center;
  padding: 1rem 2rem; 
  cursor: pointer;
 
}

.clicks:hover {
	border-width: 5px;
}

.container {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 250px;
}










